* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#container-4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;
}

header {
  max-width: 100%;
  min-height: 67px;
  background: #35424a;
  color: #ffffff;
  border-bottom: 3px solid #a9508b;
  padding-top: 33px;
}

@media screen and (max-width: 700px) {
  header .header-left {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  header .navbar {
    width: 500px;
    margin-right: 0;
    margin-left: 30%;
  }
}

@media screen and (max-width: 700px) {
  #container-1,
  #container-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #subscribe #title-1 {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 23px;
  }

  #subscribe form {
    width: 100%;
    margin-left: 0;
  }
}

span {
  color: #a9508b;
}

#span-1 {
  font-weight: 600;
}

.header-left {
  width: 100%;
  margin-left: 10%;
  font-size: 20px;
}

.navbar {
  width: 500px;
  margin-right: 9%;
}

.navbar-links {
  color: white;
  text-decoration: none;
  padding: 0 5%;
  text-transform: uppercase;
  font-size: medium;
}

.navbar :first-child:hover {
  color: rgb(174, 176, 178);
  font-weight: bold;
}

.navbar :nth-child(2):hover {
  color: rgb(174, 176, 178);
  font-weight: bold;
}

.navbar :nth-child(3):hover {
  color: rgb(174, 176, 178);
  font-weight: bold;
}

#subscribe {
  min-height: auto;
  background: #35424a;
  color: #ffffff;
  padding: 31px 0;
}

#title-1 {
  width: 100%;
  margin-left: 11%;
  font-size: 23px;
}

#form-1 {
  width: 100%;
  margin-left: 30%;
}

#email {
  padding: 4px;
  height: 25px;
  width: 250px;
}

#submit {
  height: 38px;
  background: #a9508b;
  border: 0;
  padding: 0 20px;
  color: #ffffff;
}

#boxes {
  min-height: 580px;
}

#container-3 {
  width: 80%;
  margin: auto;
  font-size: 15px;
  line-height: 22px;
}

#article {
  width: 65%;
}
#article h1 {
  margin: 18px 0;
}

ul li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

ul li h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#sidebar {
  width: 30%;
  color: white;
  background-color: #35424a;
  margin-left: auto;
  margin-bottom: 200px;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dark h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#form-2 input {
    width: 90%;
    padding: 5px;
}

#form-2 textarea {
    width: 90%;
    padding: 5px;
}

#form-2 button {
    height: 38px;
    background: #a9508b;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

footer {
  padding: 35px;
  margin-top: 20px;
  border-top: 3px solid #a9508b;
  font-size: 15px;
}

footer img {
  width: 200px;
  height: 70px;
}
